body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    display: flex;

    margin: 0;

    color: #757575;
    background-color: #fafafa;
}

ul,
li {
    margin: 0;
    padding: 0;
}

body > div {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.screen-container { padding-left: 300px; }

.navigation-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: 200px;

    border-right: 1px solid #dedede;
    background: #f0f0f0;
}

.navigation-menu__item {
    list-style: none;

    border-bottom: 1px solid #ccc;
}

.navigation-menu__button {
    display: block;

    padding: 20px 15px;

    text-decoration: none;

    color: #555;
}

.navigation-menu__button:hover {
    background: #a0cb72;
    color: white;
}

.navigation-menu__button--active,
.navigation-menu__button--active:hover {
    background: #7cb342;
    color: white;
}

.screen {
    width: 700px;
    min-height: 600px;
    margin: 50px auto;
    padding: 40px;

    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 5px 5px 25px #ccc;
}

.screen-hide { display: none; }

.polygon-block {
    display: flex;

    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.polygon-block__figure {
    flex-shrink: 0;
    align-self: flex-start;
}

.polygon-block__figure--dragable:hover .polygon-block__dot {
    display: unset;
}

.polygon-block__dot {
    display: none;
    cursor: pointer;
    opacity: 0.9;
}

.polygon-block__dot:hover {
    opacity: 1;
    fill: #7CB342;
}

.polygon-block__fieldset {
    position: relative;

    max-height: 250px;
    margin: 5px;
    padding: 15px;

    text-align: center;

    border: 1px solid #ddd;
    border-radius: 5px;

    overflow: hidden;
}

.polygon-block__fieldset--blocked::before {
    font-size: 1.5em;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 30px;

    content: 'Регулировка не более 6 вершин!';

    border-radius: 5px;
    background: rgba(255, 255, 255, .85);
}

.polygon-block__button {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5em;

    width: 60px;

    vertical-align: middle;
}

.calendar-widget {
    width: 300px;
    margin: 0 auto;

    text-align: center;

    color: white;
    background: #3f51b5;
    box-shadow: 2px 2px 30px #aaa;
}

.calendar-widget__day-name {
    font-size: 1.2em;
    font-weight: bold;

    padding: 10px;

    background: #7cb342;
}

.calendar-widget__day-num {
    font-size: 3em;

    padding: 30px;
    padding-bottom: 20px;
}

.calendar-widget__date {
    font-size: 1.3em;

    padding-bottom: 10px;

    color: #333;
    border-bottom: 5px solid #b0b0b0;
    background: #e0e0e0;
}

.calendar-widget__month,
.calendar-widget__year {
    padding: 10px;
}

.calendar-widget__title {
    display: flex;

    box-sizing: border-box;
    width: 100%;
    padding: 5px 15px;

    justify-content: center;
}

.calendar-widget__table {
    width: 100%;

    border-bottom: 5px solid;
    border-collapse: collapse;
    cursor: default;

    transition: all 0.7s;
}

.calendar-widget__table td,
.calendar-widget__table th {
    padding: 5px;
}

.calendar-widget__table th {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.calendar-widget__today {
    color: black;
    background: #A0CB72;
}

.calendar-widget__today:hover {
    cursor: pointer;

    background: #fff176;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.3);
}

.calendar-widget__other-month {
    color: #bdbdbd;
    opacity: 0.5;
}

.calendar-widget__week-end { background: #303f9f; }

.calendar-body { position: relative; }

.calendar-body .paginator-svg {
    position: absolute;
    left: -65px;
    top: 5px;
}

.calendar-body .paginator-svg-right {
    position: absolute;
    right: -65px;
    top: 5px;
}

.paginator {
    transform: translateX(55%);
    fill: #1565c0;
    transition: all 0.35s ease-out;
    cursor: pointer;
    box-shadow: 2px 2px 15px #333;
}

.paginator-right {
    transform: translateX(-55%);
}

.paginator:hover {
    transform: none;
    fill: #7CB342;
}

.catalog {
    display: flex;

    flex-wrap: wrap;
}

.catalog-item {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 30%;
    margin: 5px;

    transition: .5s all;

    border-radius: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 4px 0 #d1d1d1;

    justify-content: space-between;
}


.catalog-item:hover { box-shadow: 2px 2px 10px 0 #A0CB72 }

.catalog-item__details { padding: 5px 25px; }

.catalog-item a { display: block; }

.catalog-item img { width: 100%; }

.animatedPulse { animation: pulse 1.2s ease; }

.loading {
    display: flex;
    flex-direction: column;

    height: 300px;

    justify-content: center;
    align-items: center;
}


.loading__spiner {
    margin: 30px;

    width: 60px;
    height: 60px;

    animation: spin 1s infinite linear;

    border: 10px solid rgba(200,200,200,.5);
    border-top-color: #7CB342;
    border-radius: 50%;
}

@keyframes pulse {
  from {
    opacity: 0.3;
  }
  20% {
    opacity: 1;
  }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
