body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    display: flex;

    margin: 0;

    color: #757575;
    background-color: #fafafa;
}

ul,
li {
    margin: 0;
    padding: 0;
}

body > div {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.screen-container { padding-left: 300px; }

.navigation-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: 200px;

    border-right: 1px solid #dedede;
    background: #f0f0f0;
}

.navigation-menu__item {
    list-style: none;

    border-bottom: 1px solid #ccc;
}

.navigation-menu__button {
    display: block;

    padding: 20px 15px;

    text-decoration: none;

    color: #555;
}

.navigation-menu__button:hover {
    background: #a0cb72;
    color: white;
}

.navigation-menu__button--active,
.navigation-menu__button--active:hover {
    background: #7cb342;
    color: white;
}

.screen {
    width: 700px;
    height: 600px;
    margin: 50px auto;
    padding: 40px;

    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 5px 5px 25px #ccc;
}

.screen-hide { display: none; }

.polygon-block {
    display: flex;

    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.polygon-block__figure { flex-shrink: 0; }

.polygon-block__form fieldset {
    position: relative;

    max-height: 250px;
    margin: 5px;
    padding: 15px;

    text-align: center;

    border: 1px solid #ddd;
    border-radius: 5px;
}

//TODO fix
.polygon-block__form--blocked::before {
    font-size: 1.5em;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 30px;

    content: 'Регулировка не более 10 вершин!';

    border-radius: 5px;
    background: rgba(255, 255, 255, .85);
}

.polygon-block__button {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5em;

    width: 60px;

    vertical-align: middle;
}
